#body {
    /*background: lightsalmon;
    background-image: url(hawaiianflower.jpg);*/
    background-size: auto;
    overflow: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.fejlec {
    min-height: 50px;
    margin: 3px;
    background-color: beige;
    text-align: center;
    border: lightsalmon 2px solid;
    color: darksalmon;
    font-size: 35px;
    line-height: 60px;
   
}

.header-container {
    width: 100%;
}

.strech {
    width: 100%;
    height: 100%;
}
