#body {
    /*background: lightsalmon;
    background-image: url(hawaiianflower.jpg);*/
    background-size: auto;
    overflow: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    width: 100%;
}

.grid {
    min-height: 300px;
    margin: 3px;
    background-color: beige;
    text-align: center;
    border: lightsalmon 2px solid;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.strech {
    width: 100%;
    height: 100%;
}

header {
    background-color: papayawhip;
    text-align: center;
    font-size: 40px;
    color: darksalmon;
    height: 70px;
    line-height: 70px;
    border: darksalmon 2px solid;
}

.kereses {
    text-align: right;
    margin-right: 45px;
    color: papayawhip;
    font-size: 25px;
    size: 35px;
}

.topnav {
    font-size: 30px;
    color: papayawhip;
    text-align: center;
}



.kezdolap {
    color: papayawhip;
}
.magamrol {
    color: papayawhip;
}
.galeria {
    color: papayawhip;
}
.kapcsolat {
    color: papayawhip;
}





#blogcim {

    text-align: center;
    block-size: 50px;
    font-size: 20px;
    display: inline-block;

    border: lightsalmon solid 3px;
}

#blogleiras {

    height: auto;
    font-size: 20px;
    height: 250px;
    text-align: center;
    overflow: scroll;
    border: lightsalmon solid 3px;
}

#maidatum {
   
    text-align: center;

    border: solid 2px darksalmon;
    font-size: 15px;
}

.mentes {
    block-size: 40px;

}


h3 {
 color: papayawhip;
}

article {
    color: papayawhip;
    font-size: 20px;
    border: solid 2px darksalmon;
    background-color: blanchedalmond;
}
h4 {
    color: darksalmon;
}

p {
    color: black;
}

p1 {
    color: darkgrey;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
