#body {
    /*background: lightsalmon;
    background-image: url(hawaiianflower.jpg);*/
    background-size: auto;
    overflow: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    width: 100%;
}

.fejlec {
    min-height: 50px;
    margin: 3px;
    background-color: beige;
    text-align: center;
    border: lightsalmon 2px solid;
    color: sandybrown;
    font-size: 35px;
    line-height: 60px;
}

.container-fluid {
    width: 100%;
}

.grid {
    min-height: 50px;
    margin: 3px;
    background-color:sandybrown;
    text-align: center;
    border: lightsalmon 2px solid;
}

.bejegyzesek {
    width: 100%;
}

#osszes {
    min-height: 300px;
    background-color:sandybrown;
    text-align: center;
    border: lightsalmon 2px solid;
    margin:3px;
}


h3 {
    color:saddlebrown;
    text-align: center;
   }
   

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.strech {
    width: 100%;
    height: 100%;
}

.kereses {
    text-align: right;
    margin-right: 45px;
    color: papayawhip;
    font-size: 15px;
    size: 20px;
}

#navigacio {
    width: 100%;
    font-size: 20px;
    color: papayawhip;
    text-align: center;
    margin: 3px;
}


#blogcim {
    text-align: center;
    font-size: 20px;
    border: lightsalmon solid 3px;
}

#blogleiras {
    font-size: 20px;
    min-height: 250px;
    text-align: center;
    overflow: scroll;
    border: lightsalmon solid 3px;
}

#maidatum {
    text-align: center;
    border: solid 2px darksalmon;
    font-size: 15px;
}

.mentes {
    block-size: 40px;
}



h4 {
    color: saddlebrown;
}

p {
    color: black;
}

p1 {
    color:brown;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
